<%= form_with(model: @tweet, local: true) do |form| %>
  <% if @tweet.errors.any? %>
    <div class="notification is-danger is-light">
      <ul>
        <% @tweet.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :tweet, "Tweet about it", class: "label"  %>
    <div class="control">
      <%= form.text_area :tweet, class: "textarea", placeholder: "Compose a new tweet", autofocus: true %>
    </div>
  </div>

  <%= form.submit class: "button is-primary" %>
<% end %>
